.card {
    background: #fff;
    border: 5px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 80%;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 10%;
    top:10%;
    left:50%;
  }

.input {
    clear: both;
    content:"";
    display: table;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);      
}
